
// -------------------------------------------------
// BOOTSTRAP
// Override default variables before the import
$body-bg: #eee;
// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
// -------------------------------------------------

// -------------------------------------------------
// Variables
// -------------------------------------------------

$c-sidebar-vibrant: #3F37D9;
$c-sidebar-dark: #201C86;
$c-sidebar-light: #7B96FF;
$c-selection: #5ED995;
$c-bg: #f5f6fa;
$c-grey: #8095A8;
$c-shadow: #18275F;

$header-h: 70px;
$space: 30px;
$space-half: 15px;
$r: 5px;

$ms-sidebar-transition: 100ms;

// -------------------------------------------------------------------------------------
// Imports (after variables)
// -------------------------------------------------------------------------------------

// @import '.~bootstrap/scss/_functions.scss';
// @import '.~bootstrap/scss/_variables.scss';
// @import '.~bootstrap/scss/mixins/_breakpoints.scss';
// @import './style/_boogrid';
@import './_typography';
@import './_reset';
// @import './style/_mixins';

// -------------------------------------------------
// Common
// -------------------------------------------------

body {
	@include font-m;
}

// -------------------------------------------------
// Style
// -------------------------------------------------

.app {
	display: flex;
	max-width: 100vw;
	.sidebar {
		width: 200px;
		min-width: 200px;
		bottom: 0;
		background-color: $c-sidebar-vibrant;
		display: flex;
		flex-flow: column nowrap;
		position: relative;
		@include transition(width $ms-sidebar-transition, background-color $ms-sidebar-transition);

		header {
			height: $header-h;
			position: absolute;
			top: 0;	right: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: $space;
			width: 200px;
		}

		.level-1 {
			z-index: 2;
			position: fixed;
			top: 70px; left: 0; bottom: 0;
			width: 200px;
			padding-top: 70px;
			@include transition(background-color $ms-sidebar-transition);
			.menu-item .text {
				@include transition(visibility 0s $ms-sidebar-transition);
			}
		}
		.level-2 {
			z-index: 1;
			opacity: 0;
			position: absolute;
			width: 200px;
			top: 102px;
			right: 0;
			bottom: 0;
			@include transition(opacity $ms-sidebar-transition);
			.submenu-label {
				@include font-s;
				padding: 0 20px;
				margin-bottom: 20px;
				text-align: center;
				text-transform: uppercase;
				color: $c-sidebar-light;
			}
		}
		.hamburger-col {
			z-index: 2;
			position: fixed;
			top: 0; left: 0; bottom: 0;
			width: 70px;
	    text-align: center;
	    padding-top: 23px;
	    img {
				cursor: pointer;
				@include transition(opacity $ms-sidebar-transition);
				opacity: 0;
				pointer-events: none;
	    }
			@include transition(background-color $ms-sidebar-transition);
			background-color: $c-sidebar-vibrant;
		}

		&.double {
			width: 270px;
			.level-1 {
				width: 70px;
				.menu-item {
					.text {
						@include transition(visibility 0s);
						visibility: hidden;
					}
					&:not(.selected) .icon {
						opacity: 0.4;
					}
				}
			}
			.level-2 {
				@include transition(opacity $ms-sidebar-transition 0ms);
				opacity: 1;
			}
			.hamburger-col {
		    img {
					opacity: 1;
					pointer-events: all;
		    }
				background-color: $c-sidebar-dark;
			}
			&.open {
				background-color: $c-sidebar-dark;
				.level-1 {
					background-color: $c-sidebar-vibrant;
					width: 200px;
					.menu-item {
						.text {
							@include transition(visibility 0s $ms-sidebar-transition);
							visibility: visible;
						}
						.icon {
							opacity: 1;
						}
					}
				}
				.level-2 {
					opacity: 0.4;
				}
				.hamburger-col {
					background-color: $c-sidebar-vibrant;
				}
			}
		}

		ul.menu-items {
			padding-left: 20px;
			padding-right: 20px;
			li.menu-item {
				color: white;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				cursor: pointer;
				background-color: transparent;
				&:hover {
					background-color: rgba($c-sidebar-dark, 0.3);
				}
		    height: 40px;
		    margin: -10px;
		    margin-bottom: 15px;
		    padding: 10px;
		    border-radius: $r;
				img {}
				.text {
					margin-left: 20px;
				}
				&.selected {
					background-color: $c-sidebar-dark;
					.text {
						color: $c-selection;
					}
				}
			}
		}
		// @include media-breakpoint-down(xs) {
		// 	width: 100vw;
		// }
	}
	.ui-right {
		flex-grow: 1;
		display: flex;
		flex-flow: column nowrap;
		height: 100vh;
		overflow-x: scroll;
		.headerbar {
			z-index: 2;
			background-color: white;
			height: $header-h;
			min-height: $header-h;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			padding-right: $space;
		  box-shadow: 0 2px 10px 0 rgba($c-grey, 0.15);
			.back {
				width: $header-h;
				min-width: $header-h;
				height: $header-h;
				display: flex;
				align-items: center;
				justify-content: center;
				border-right: 1px solid rgba($c-grey, 0.15);
				cursor: pointer;
				&:hover {
					background-color: rgba($c-grey, 0.15);
				}
			}
			.texts {
				display: flex;
				justify-content: space-between;
				flex-grow: 1;
				align-items: baseline;
				align-content: center;
				margin-left: $space;
				.title {
					display: flex;
					align-items: baseline;
					white-space: nowrap;
					h2 {
						@include font-l; 
					}
					.title-comment {
						@include font-s;
						margin-left: $space-half;
						color: $c-grey;
						white-space: nowrap;
					}
				}
			}
			.user-icon {
				width: 35px;
				height: 35px;
				border-radius: 20px;
				background-color: $c-grey;
				margin-left: $space-half;
			}
		}
		.content-area {
			background-color: $c-bg;
			flex-grow: 1;
			overflow-y: scroll;
			.content {
				padding: $space;
			}
		}
	}
}

.ilyde_component-table-cozy {
	display: table;
	width: 100%;
	max-width: 100%;
  border-spacing: 0 15px;
  margin-left: auto;
  margin-right: auto;
	@include media-breakpoint-up(xl) {
		width: calc(100% - 80px);
	}
	.cell {
		display: table-cell;
		vertical-align: middle;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		&:first-child {
			padding-left: $space * .66;
		}

		&:last-child {
			padding-right: $space-half;
		}
	}
	header {
		display: table-row;
		.cell {
			@include font-s;
			color: $c-grey;
			pointer-events: none;
			span {
				pointer-events: all;
			}
			&.sortable {
				cursor: pointer;
				span:hover {
					color: darken($c-grey, 10%);
					&::after {
						opacity: 1;
					}
				}
				span::after {
					content: url('../assets/images/sortable.svg');
					opacity: 0.7;
				}
				&.sorted-asc span::after {
					content: url('../assets/images/sorted-asc.svg');
				}
				&.sorted-desc span::after {
					content: url('../assets/images/sorted-desc.svg');
				}
			}
		}
	}
	.data-row {
		display: table-row;
		height: 60px;
		background-color: white;
	  box-shadow: 0 2px 10px 0 rgba($c-shadow, 0.05);
	  @include transition(box-shadow 300ms);
		&.clickable {
			cursor: pointer;
			&:hover {
			  box-shadow: 0 2px 10px 0 rgba($c-shadow, 0.15);
			  .cell.arrow img {
			  	opacity: 1;
			  }
			}
		}
		.cell {
			@include font-m;
			&:first-child {
				border-radius: $r 0 0 $r;
			}
			&:last-child {
				border-radius: 0 $r $r 0;
			}
			&.arrow {
				width: 30px;
				img {
					display: inherit;
					opacity: 0.5;
				}
			}
		}
	}
}


